body { 
    color: #333333;
    font-family: 'Noto Sans JP',sans-serif;
    font-weight: 300;
}

p { 
    font-size: 16px;
    line-height: 2em;
    margin: 0;
}
.title h2 {
    font-size: 20px;
    vertical-align: top;
}
.title h2::before {
    content: url(../images/bg-heading-h2.png);
    padding-right: 10px;
    padding-bottom: 0;
    vertical-align: middle;
}
.main-image {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ヘッダー */
.pageHead {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
    background-color: white;
    padding: 0;
}
.siteNavi {
    margin: 0;
    padding: 0;
    height: 65px;
}

/* SNSリンク */
.head-nav ul {
    list-style: none;
    display: flex;
}
.head-nav li {
    padding-right: 0;
    padding-top: 15px;
    padding-left: 30px;
    height: 70px;
}
.head-nav li:first-child{
    margin-right: auto;
    padding-top: 15px;
    padding-left: 53px;
}
.head-nav li:last-child {
    padding-top: 0;
}

/* リンクナビ */
.pageNavi {
    width: 1000px;
    margin: 0 auto;
    padding-top: 90px;
}
.pageNavi ul li a {
    font-size: 12px;
    color: #999999;
    list-style: none;
    text-decoration: none;
}
.pageNavi ul li {
    display: inline;
}
.pageNavi ul {
    padding-left: 10px;
}


/* タイトル */
.site-image {
    width: 100%;
    height: 270px;
    object-fit: cover;
    background-size: cover;
}
.siteTitle h1 {
    font-size: 27px;
    font-weight: 600;
}
.siteTitle p {
    font-size: 18px;
}
.siteTitle {
    position: absolute;
    top: 180px;
    left: 230px;
    color: white;
}

/* ページ */
#page {
    width: 820px;
    margin: 0 auto;
}
/* SNSページリンク */
.SnsLink ul {
    text-align: right;
    text-decoration: none;
    list-style: none;
}
.SnsLink li {
    display: inline;
    padding: 8px;
}
.sns-btn {
    padding: 0;
    margin-top: 20px;
}
.sns-btn li {
    vertical-align: middle;
}
.sns-btn li:first-child {
    font-size: 8px;
    font-weight: 400;
    color: #666;
}
.sns-btn-center li {
    text-align: center;
}

.nri-dx-file {
    margin: 0 auto;
    width: 270px;
    border: 1px solid #005ABC;
    padding: 5px;
    text-align: center;
    background-color: #005ABC;
}
.nri-dx-file a::before {
    content: '';
    content: url(../images/blue-right.png);
}
.nri-dx-file a::after {
    content: '';
    content: url(../images/file.png);
    vertical-align: middle;
}

.nri-dx-file a {
    color: white;
    text-decoration: none;
}
.nri-dx-file a:hover {
    background-color: thistle;
}
a:hover {
    text-decoration: underline;   
}
#page2 {
   width: 1000px;
   margin: 0 auto;
   margin-bottom: 40px;
   font-size: 14px;
   border-bottom: dotted 1px black;
}

#page2 ul {
    display: flex;
    flex-wrap: wrap;
}
#page2 h2 {
    padding-top: 25px;
    padding-bottom: 30px;
    border-top: solid 2px black;
    border-bottom: dotted 1px black;
    margin-top: 130px;
    margin-bottom: 40px;
}
/* ページメインリスト */
.pagemainList li::before {
    content: '';
    content: url(../images/right.png);
    width: 6px;
    height: 6px;
    vertical-align: middle;
}
.pagemainList a {
    text-decoration: none;
    color: #0C419A;
}
.pagemainList ul {
    padding-left: 0;
}
.pagemainList li {
    margin-bottom: 10px;
    width: 250px;
}
.pagemainList ul li {
    list-style: none;
}
.page-back {
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 75px;
}
.page-back a {
    text-decoration: none;
    color: #0C419A;
}
.page-back::before {
    content: '';
    content: url(../images/left.png);
    vertical-align: middle
}


/* ページリンク */
.page_block {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 30px;
}
.page_block a {
    color: #0C419A;
}
.page_block_link a {
    text-decoration: none;
}
.page_block_link a:hover {
    text-decoration: underline;
}
.page_block_link2 a {
    text-decoration: none;
}
.page_block_link2 a:hover {
    text-decoration: underline;
}
.page_block_link a::before {
    content: '<';
    color: black;
    margin-right: 5px;
    vertical-align: baseline;
}
.page_block_link2 a::after {
    content: '>';
    color: black;
    margin-left: 5px;
    vertical-align: baseline;
}


/* ページボックス */
.pageBodymain {
    background-color: #DEECF8;
}
.pageBoxTitle {
    font-weight: 350;
    position: relative;
    top: 20px;
    left: 15px;
}
.pageBox p::before {
    content: '';
    content: url(../images/right.png);
    width: 6px;
    height: 6px;
    vertical-align: middle;
}
.pageBodymain a {
    font-size: 16px;
    color: #0C419A;
    position: relative;
}
.pageBox {
    display: flex; 
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    bottom: 10px;
    text-align: center;
}
.pageBoxList {
    border: 1px solid #FFFFFF;
    padding: 5px;
    width: 220px;
    height: 50px;
    margin: 11px;
    align-items: center;
    background-color:#FFFFFF;
}
.pageBoxList:hover {
    background-color: #f4f4f4;
}
.pageBoxList a {
    text-decoration: none;
    font-size: 16px;
    line-height: 2px;
}
.pageBoxList p {
    line-height: 20px;
}
.pageBoxList::before {
    content: '';

}

/* ページボディ */
#page3 {
    width: 1000px;
    margin: 0 auto;
}

.flex-box ul li {
    list-style: none;
    margin-left: 10px;
}

.flex-box-ul {
    padding-left: 0;
    width: 250px;
}
.flex-box {
    width: 250px;
    display: flex;
}
.flex-box2 li::before {
    content: '';
    content: url(../images/right.png);
    width: 6px;
    height: 6px;
    vertical-align: middle;
}
.flex-box2 a {
    font-size: 14px;
    text-decoration: none;
    color: #666666;
    padding-top: 10px;
}
.flex-box2 li {
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: table-cell; */
}
.flex-box2 li:first-child {
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    
    font-weight: 600;
}
.flex-box-top  li a { 
    /* border-top: solid 1px #ccc; */
    /* border-bottom: solid 1px #ccc; */
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.flex-box-top a {
    width: 300px;
}

.sns-center {
    text-align: center;
}
.sns-center li {
    list-style: none;
    display: inline;
    padding-left: 30px;
}
.sns-center li:first-child {
    color: #005ABC;
    vertical-align: top;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
}
.sns-btn-center {
    padding-left: 0;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 35px;
}

/* 問合せ */
.pageNavifoot ul {
    margin: 0;
    padding: 0;
}
.pageNavifoot li {
    font-size: 12px;
    color: #999999;
    list-style: none;
    display: inline;
    border-left: solid 1px #CCCCCC;
    padding: 0 12px;
}
.pageNavifoot {
    display: inline;
}    
.pageNavifoot ul {
    padding-top: 40px;
}
.pageNavifoot li a {
    text-decoration: none;
    color: gray;
}

.pageNavifoot ul li:first-child {
    border-left: none;

}
/* フッター */
#pageFoot {
    display: inline;
    color: #666666;
    padding-left: 50px;
    padding-bottom: 200px;
    
}
#pageFoot p {
    font-size: 10px;
    padding-left: 12px;
}

